.container1 {
    width: 100vw;
    height: 300vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
}

.container1::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../../../public/images/login/muds1.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .4;
}

.intro-textBox {
    width: 100%;
    height: 30%;
    /* background-color: rgb(223, 223, 247); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-moveArea {
    width: 100%;
    height: 70%;
    /* background-color: rgb(253, 253, 169); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moveArea1,
.moveArea2,
.moveArea3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.move-img1,
.move-img2,
.move-img3 {
    width:450px;
    height: 450px;
    background-color: aqua;
}