@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.container2 {
    width: calc(100vw - 8px);
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    font-family: 'TheJamsil5Bold';
    background: url(../../../public/images/login/muds4.jpg) no-repeat center;
    background-size: cover;
    top: 100px;
    position: fixed;
    transition: all 1s;

}


.container-text {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 2px #000000, 3px 3px 3px rgba(206, 89, 55, 0);
}

