@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reservation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 150px;
    min-height: 400vh;
    margin-bottom: 350px;
    padding: 20px;
}

.reserve_head {
    display: flex;
    position: absolute;
    top: 0;
    margin: auto;
    font-size: 1.5rem;
    font-family: 'Chosunilbo_myungjo';
}

.reserve_head p {
    line-height: 48px;
}

.reservation {
    display: grid;
    width: 100vw;
    min-height: 80vh;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, .5fr);
}

.reservation_img {
    display: grid;
    grid-area: 2 / 3 /span 4 / span 6;
}




/* 예약페이지 최상단 이미지 S */
.reservation_img_inner {
    cursor: pointer;
    /* background-color: beige; */
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(8, 1fr);
    overflow: hidden;

}

.reservation_main_img {
    display: grid;
    grid-area: 1 / 1 / span 4 / span 6;

}

.reservation_main_img img {
    width: 100%;
    height: 400px;
    object-fit: fill;
    border-radius: 20px 0 0 20px;
    padding-right: 5px;
}

.reservation_sub_img {

    grid-area: 1 / 7 / span 2 / span 2;
}

.reservation_sub_img img {
    width: 100%;
    height: 197.5px;
    border-radius: 0% 20px 0 0;
    padding-bottom: 2.5px;
}

.reservation_fin_img {

    grid-area: 3 / 7 / span 2 / span 2;
}

.reservation_fin_img img {
    border-radius: 0 0 20px 0;
    padding-top: 2.5px;
    width: 100%;
    height: 197.5px;
}

/* reserve.css */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* background: white; */
    padding: 20px;
    max-width: 80%;
    max-height: 80%;

    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.577);
}

.modalClose {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    font-weight: 300;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    /* border-radius: 50%; */
    margin: 10px;
    /* padding: 10px; */
    cursor: pointer;
}

.reserve_slide_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 800px;

}

.reserve_slide_inner {
    display: flex;
    justify-content: center;
    width: 980px;
    height: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.9s ease-out;
    width: 980px;
    height: 600px;
}

.reserve_slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.left {
    left: 0%
}

.right {
    right: 0%;
}

.left,
.right {
    position: relative;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    z-index: 2;
}


.left:hover,
.right:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* 예약페이지 최상단 이미지 E */


/* react-calendar 달력 커스텀 S */
.react-calendar {
    grid-area: 1 / 2 / span 4 / span 3;
    margin: auto;
    background-color: white;

    font-family: 'NanumBarunpen', Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.react-calendar__navigation {
    display: flex;
    background-color: #f0f0f0;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 10px 10px 0 0;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: none;
    color: #007bff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: default;
}

.react-calendar__navigation button:hover:enabled {
    background-color: #013ff8;
}

.react-calendar__month-view__weekdays {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 10px 0;
}

.react-calendar__tile {
    max-width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* padding: 20px 0; */
    background: none;
    border: none;
    color: #333;
    text-align: center;
    line-height: 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ccc;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #007bff79;
}

.react-calendar__tile--active {
    background: #007bff9d;
    color: white;
}

.react-calendar__tile--active:hover,
.react-calendar__tile--active:focus {
    background: #235f9f;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

/* react-calendar 달력 커스텀 E */



.reservation_calendar_dropdown {
    position: relative;
}

.reservation_calendar {
    display: grid;
    grid-area: 6 / 7 /span 4 / span 2;
    position: relative;
    justify-content: flex-start;
    align-items: center;

}

.reservation_calendar_inner {
    transform: translateX(20%) translateY(-70%);
    position: absolute;
}

/* 예약 기능 영역 css S */
.calendar-toggle {
    position: relative;
    left: 34%;
    min-width: 250px;
    width: 15vw;
    height: 380px;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.calendar-toggle>p {
    position: relative;
    transform: translateY(-50%);
    text-align: start;
    font-size: 1.2rem;
    font-family: 'Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif;';
}

.calendar-toggle-button {
    position: relative;
    width: 100%;
    max-width: 250px;
    background-color: #417dbeee;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif;';
}

.calendar-toggle-submit {
    position: absolute;
    bottom: 5%;
    right: 22%;
    width: 10vw;
    height: 40px;
    max-width: 150px;
    background-color: #417dbeee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.calendar-toggle-button:hover,
.calendar-toggle-submit:hover {
    opacity: 0.8;
}

.personSelect_submit {
    position: relative;
    right: 0;
    width: 100%;
    max-width: 250px;
    background-color: #417dbeee;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif;';
}

/* 예약 기능 영역 > 예약 성인, 청소년 인원 버튼 css S*/
.calendar-toggle-button:focus {
    outline: 2px solid #007bff;
}

.personSelect ul {
    transform: translateY(10%);
    list-style: none;
    padding: 0;
    margin: 0;
}

.personSelect ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    font-size: 1rem;
    font-family: 'Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial, sans-serif;';
}

.personSelect ul li p {
    margin: 0;
    width: 60px;
    text-align: left;
}

.personSelect ul li button {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #d0c0a000;
    background-color: #d0c0a044;
}

.personSelect ul li div {
    display: flex;
    align-items: center;
}

.personSelect_check span {
    background-color: #dfdf5354;
    font-family: 'NanumBarunpen';
    font-weight: 600;
    border-radius: 5px;
}

/* 예약 성인, 청소년 인원 버튼 css E */
/* 예약 기능 영역 css E */



/* 하이라이트 설명 글 css  S */
.reservation_intro {
    /* background-color: rgba(255, 228, 196, 0.678); */
    display: grid;
    grid-area: 6 / 3 /span 4 / span 4;
    margin-top: 20px;
    transition: all .6s linear;
}

.intro_inner {
    /* transform: translateX(5%); */
    transform: translateY(5%);
    background-color: #d0c0a01d;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

.intro_inner>h3 {
    background-color: #dfdf5354;
    width: fit-content;
    border-radius: 5px;
}

.hilights {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 60px;
    height: 60px;
}

.reservation_intro .intro_inner>ul li {
    font-size: 1.2rem;
    line-height: 2rem;
    list-style: none;
    position: relative;
    padding-left: 16px;
}

.reservation_intro .intro_inner>ul li::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
}

.reservation_intro .intro_inner>ul li::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 9px;
}

/* 하이라이트 설명 글 css  E */



/* 상세 정보 css S */

.reservation_detail {
    background-color: #949faa0e;
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    min-height: 100vh;

}

.reservation_detail_inner {
    display: grid;
    position: relative;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template: repeat(10, 1fr) / repeat(10, 1fr); */
    grid-auto-rows: max-content;
    border: 2px dashed rgba(0, 128, 128, 0.264);
    border-radius: 10px;

}

.detail_inner_head>h2 {
    align-self: center;
    padding: 20px;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.detail_inner_head>h2::before,
.detail_inner_img_head>h2::before {
    content: "";
    background-color: #355ac980;
    width: 8px;
    height: 1.8rem;
    position: absolute;
    left: 10px;
}

.detail_inner_ul1 {
    grid-area: 1 / 1 / span 3 / span 9;
}

.detail_inner_ul1 div,
.detail_inner_ul1 h4 {
    padding: 10px;
}

.reservation_detail_inner ul li {
    font-size: 1.2rem;
    line-height: 2rem;
    list-style: none;
    position: relative;
    padding-left: 16px;
}

.reservation_detail_inner ul li::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
}

.reservation_detail_inner ul li::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 9px;
}

.detail_inner_img {
    position: relative;

}

.detail_inner_img>div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail_inner_img_head>h2 {
    padding: 20px;
}

.detail_inner_img img {
    margin: auto;
    max-width: 80vw;
    max-height: 100vh;
    padding: 10px;

}

/* 상세 정보 css E */

.reservation_intro {}

@media screen and (width < 1650px) {
    .reservation {
        display: grid;
        width: 100vw;
        min-height: 80vh;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(10, .5fr);
    }

    .reservation_intro {
        display: grid;
        grid-area: 6 / 3 / span 2 / span 7;
        margin-top: 0;
        margin-left: 0;
        transition: all .6s linear;
        /* transform: translateX(0%); */
    }

    .intro_inner {
        width: 60vw;
    }

    .intro_inner>h3 {
        background-color: #dfdf5354;
        width: fit-content;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    .reservation_intro .intro_inner>ul li {
        font-size: 1.2vw;
        line-height: 1.4rem;
        list-style: none;
        position: relative;
        padding-left: 16px;

    }



    .reservation_calendar {
        display: grid;
        grid-area: 8 / 3 / span 2 / span 6;
        position: relative;
        justify-content: flex-start;

    }

    .calendar-toggle {
        display: grid;
        grid-template: 1fr 1fr / repeat(6, 1fr);
        position: relative;
        left: 0;
        width: 60vw;
        height: 150px;
        border: 1px solid #e6e6e6;
        border-radius: 16px;
        padding: 20px;
        letter-spacing: 1px;
        text-align: center;
        gap: 10px;
        transition: all 0.3s linear;
    }

    .calendar-toggle-button {
        grid-area: 1 / 6 / 2 / 7;
        justify-content: center;
        align-self: center;
        width: 10vw;
        max-width: 120px;
        height: 30px;
        padding: 0;
        width: 10vw;


    }

    .reservation_calendar_inner {
        transform: translateX(180%) translateY(-20%);
        z-index: 2;
        position: absolute;
    }

    .calendar-toggle::after {
        content: "";
        grid-area: 1 / 1 / 2 / 7;
        border-bottom: 1px solid #e6e6e6;

        width: 100%;
    }

    hr {
        display: none;
    }

    .calendar-toggle>p {

        grid-area: 2 / 3 / 2 / span 1;
        transform: translateY(40%) translateX(20%);
        text-align: center;
        font-size: 1.2rem;
    }

    .personSelect {
        grid-area: 1 / 1 / 2 / 6;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .personSelect ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .personSelect ul li {
        display: flex;
        align-items: center;
    }

    .personSelect ul li p {
        margin-right: 10px;
    }

    .calendar-toggle-submit {
        display: grid;
        grid-area: 2 / 4 / 3 / 5;
        justify-self: center;
        align-self: center;
        padding: 5px;
        position: relative;
        bottom: 0;
        right: 0;
        width: 8vw;
        height: 40px;
        max-width: 150px
    }
}

@media screen and (width < 1250px) {

    .reservation_img {
        display: grid;
        grid-area: 2 / 2 / span 4 / span 8;
    }

    .reservation_intro {
        display: grid;
        grid-area: 6 / 2 / span 2 / span 8;
        margin-top: 20px;
        margin-left: 20px;
    }

    .intro_inner {
        width: 80vw;
    }

    .reservation_intro .intro_inner>ul li {
        font-size: 1rem;
        line-height: 1.4rem;
        list-style: none;
        position: relative;
        padding-left: 16px;
    }

    .hilights {
        position: absolute;
        bottom: 10px;
        right: 5%;
        width: 60px;
        height: 60px;
    }

    .reservation_calendar {
        display: grid;
        grid-area: 8 / 2 / span 2 / span 8;
        position: relative;
        justify-content: flex-start;
    }

    .calendar-toggle {
        width: 80vw;
    }
}

@media screen and (width < 1070px) {

    .intro_inner>h3 {
        width: fit-content;
        border-radius: 5px;
        font-size: 1.1rem;
    }

    .reservation_intro .intro_inner>ul li {
        font-size: 0.9rem;
        line-height: 1.4rem;
        list-style: none;
        position: relative;
        padding-left: 16px;
    }

    .hilights {
        bottom: 10px;
        right: 5%;
        width: 40px;
        height: 40px;
        z-index: -1;
    }
}

@media screen and (width < 910px) {
    .calendar-toggle::after {
        content: "";
        grid-area: 2 / 1 / 2 / 7;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        line-height: 30px;
    }


    .calendar-toggle {
        display: grid;
        grid-template: 1fr 1fr 1fr / repeat(6, 1fr);
        position: relative;
        left: 0;
        height: 200px;
        border: 1px solid #e6e6e6;
        border-radius: 16px;
        padding: 0;
        letter-spacing: 1px;
        text-align: center;
        gap: 10px;
    }

    .calendar-toggle>p {
        grid-area: 3 / 3 / 3 / span 1;
        transform: translateY(40%) translateX(20%);
        text-align: center;
        font-size: 1rem;
    }

    .calendar-toggle .personSelect {
        display: grid;
        grid-area: 1 / 1 / span 2 / 5;
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .personSelect ul {
        display: grid;

        transform: translateX(2%);
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .personSelect ul li {
        display: inline-block;
        padding: 0px;
    }

    .personSelect ul li:nth-child(1) {

        justify-self: center;
        grid-area: 1/1/1/ span 2;
    }

    .personSelect ul li:nth-child(2) {
        justify-self: center;
        grid-area: 2/1/2/span 2;
    }

    .personSelect ul li:nth-child(3) {
        grid-area: 1/3/span 2/3;
    }

    .calendar-toggle-submit {
        display: grid;
        grid-area: 3 / 4 / 3 / 5;
        justify-self: center;
        align-self: center;
        position: relative;
        bottom: 0;
        right: 0;
        width: 8vw;
        height: 40px;
        max-width: 150px;
        line-height: 30px;
    }

    .calendar-toggle-button {
        grid-area: 1 / 5 / span 2 / span 2;
        justify-self: center;
        align-self: center;
        width: 10vw;
        max-width: 80px;
        height: 40px;
        padding: 0;
    }

    .reservation_calendar_inner {
        transform: translateX(170%) translateY(-33%);
        z-index: 2;
        position: absolute;
    }
}

@media screen and (width < 840px) {
    .reservation_main_img img {
        width: 100%;
        height: 526px;
        object-fit: fill;
        border-radius: 10px 0 0 10px;
        padding-right: 5px;
    }

    .reservation_sub_img img {
        width: 100%;
        height: 260px;
        border-radius: 0% 10px 0 0;
        padding-bottom: 2.5px;
    }

    .reservation_fin_img img {
        border-radius: 0 0 10px 0;
        padding-top: 2.5px;
        width: 100%;
        height: 260px;
    }

    .detail_inner_head>h2 {
        padding: 20px;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .detail_inner_img_head>h2 {
        padding: 26px;
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .reservation_detail_inner ul li {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}


@media screen and (width < 810px) {
    .reservation_calendar_inner {
        transform: translateX(130%) translateY(-33%);
        z-index: 2;
        position: absolute;
    }
}


@media screen and (width < 700px) {
    .reservation_calendar_inner {
        transform: translateX(90%) translateY(-33%);
        z-index: 2;
        position: absolute;
    }

    .calendar-toggle-button {
        width: 90px;
        height: 35px;
    }

    .calendar-toggle-submit {
        width: 90px;
        height: 35px;
    }
}

@media screen and (width < 700px) {
    .reservation_calendar_inner {
        transform: translateX(60%) translateY(-33%);
        z-index: 2;
        position: absolute;
    }
}

@media screen and (width < 570px) {
    .calendar-toggle>p {
        /* grid-area: 3 / 3 / 3 / span 1; */
        transform: translateY(40%) translateX(20%);
        text-align: center;
        font-size: 0.9rem;
    }
}