.clause-area {
    width: 90%;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    line-height: 25px;
    white-space: pre-wrap;
    background-color: white;
}