.login-body {
    width: (100vw-8px);
    min-height: 100vh;
    background-color: antiquewhite;
    user-select: none !important;
    font-family: 'Chosunilbo_myungjo';
}

.login-Area {
    width: 85vw;
    min-height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
}

.boxshadowcontainer {
    width: 100%;
    min-height: 80vh;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 3px rgba(0, 0, 0, 0.11),
        0 4px 5px rgba(0, 0, 0, 0.11),
        0 8px 9px rgba(0, 0, 0, 0.11),
        0 16px 17px rgba(0, 0, 0, 0.11),
        0 32px 35px rgba(0, 0, 0, 0.11);
}


.login_video {
    width: 60%;
    min-height: 80vh;
    display: flex;
}

.login_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    box-shadow: 5px 0 10px rgb(140, 139, 139);
  
}


.textarea {
    width: 40%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.textarea h4 {
    font-family: 'Chosunilbo_myungjo';
    font-size: 2em;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

.login-imgBox {
    width: 85%;
    height: 23%;
    margin-bottom: 3%;
}

.login-imgBox img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.login-Box {
    position: relative;
    text-align: center;
}

.login-Box input {
    width: 95%;
    height: 40px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    font-family: 'SUITE-Regular';
    font-size: 23px;

}

.login-inputArea {
    margin-top: 10%;
    position: relative;
}

.login-label {
    transition: .5s;
}

.login-inputArea .login-label {
    font-family: 'SUITE-Regular';
    position: absolute;
    font-size: 20px;
}




.login-Box p {
    margin-top: 5%;
    font-size: 15px;
    color: red;
    visibility: hidden;
    white-space: pre-wrap;
}

.login-Box button {
    height: 60px;
    width: 350px;
    border-radius: 15px;
    border: none;
    color: black;
    font-family: 'SUITE-Regular';
    background-color: antiquewhite;
    font-size: 1.8em;
    font-family: 'SUITE-Regular';
    margin-top: 10%;
    margin-bottom: 10px;
    letter-spacing: 5px;
    transition: all 0.5s ease;
}

.login-Box button:hover {
    cursor: pointer;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.textarea ul {
    margin-top: 5%;
}

.textarea li {
    color: black;
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 17px;
    font-family: 'SUITE-Regular';
}

.textarea ul a {
    font-family: 'SUITE-Regular';
    color: black;
    text-decoration: none;
}

@media all and (min-width:767px) and (max-width:1023px) {

    .textarea h4 {
        font-size: 1.5em;
        margin: 6% 0;
    }

    .login-Box input {
        width: 95%;
        height: 35px;
        font-size: 20px;
        margin-bottom: 5%;
    }

    .login-inputArea .login-label {
        font-size: 18px;
    }

    .login-Box button {
        height: 40px;
        width: 250px;
        font-size: 1.5em;
        margin: 5% 0;
    }

}

@media all and (max-width:767px) {
    .login-body {
        width: 100vw;
        height: 100vh;
    }

    .login_video {
        display: none;
    }

    .textarea {
        width: 100%;
    }

    .login-imgBox {
        width: 75%;
        height: 23%;
        margin-bottom: 3%;
    }
.login-imgBox h4{
    font-size: 1em;
    word-break: keep-all;
    text-align: center;
}
    .login-Box input {
        width: 90%;
        height: 35px;
        font-size: 20px;
        margin: 7% 0;
    }
    .login-Box button {
        height: 20%;
        width: 90%;
        font-size: 1.2em;
        font-family: 'SUITE-Regular';
        margin-top: 4%;
        transition: all 0.5s ease;
        margin-bottom: 10%;
    }
}