.ProductBuy{
    width: 1200px;
    margin: 150px auto;
    background-color: #d0c0a011;
    font-family: 'SUITE-Regular';
    border: 1px solid  #d0c0a058;
}
.ProductBuyList{
    width: 100%;
    display: grid;
    grid-template-columns: 15px 1fr  1fr 0.5fr repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    
    border-bottom: .5px solid #d0c0a058;
}
.buyInfo{
    /* height: 30vh; */
    grid-template-columns: 15px 1fr  1fr 0.5fr repeat(2,1fr);

    grid-template-rows: 20vh;
    display: grid;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.buyInfo img{
    width: 100%;
    height: 20vh;

    object-fit: cover;
}

.buyInfo li{
    border-bottom: 1px solid;
    padding: 10px;
}
.buySelect{
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    gap : 10px
}
.buySelect button{
    width: 25px;
    height: 25px;
    padding: 5px;
    /* border-radius: 5px 0 0 5px ; */
    border : 1px solid #d0c0a0ed;
    background-color: #d0c0a044;
    cursor: pointer;
}
.leftButton{
    border-radius: 5px 0 0 5px ;
}
.rightButton{
    border-radius: 0 5px 5px 0 ;
}
.buySelect div{
    display: flex;
}
.buySelect input{
    width: 30px;
    height: 100%;
    border : 1px solid #d0c0a0ed;
    text-align: center;

}
.buySelect img{
    width: 90%;
    height: 90%;
}
.totalPrice{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.TTPrice{
    font-weight: 600;
    font-size: 22px;
    color: red;
}