@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    font-family: 'Chosunilbo_myungjo';
    grid-row: 1 / 2;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: solid rgba(0, 0, 0, 0.244);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.headactive {
    background-color: white;
}

.headactive .header_nav a:not(.active) p {
    background-color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.deactive {
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.main_header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.header_left,
.header_center {
    font-size: 1.4em;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.header_right {
    font-size: 1.4em;
    color: gray;
    display: flex;
    justify-content: end;
    transform: translateX(20%);
}

.header_center {
    text-indent: -9999px;
}

.header_center {
    width: 300px;
    height: 100px;
    background: url(../../public/images/main/main1.png) no-repeat;
    background-position: center;
    background-size: contain;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header_nav ul li {
    margin: 0 10px;
    cursor: pointer;
    vertical-align: baseline;
}


.header_nav ul li a {
    display: inline-block;
    text-align: left;
    line-height: 50px;
    padding: 0 10px;
    color: rgba(97, 84, 84, 0.821);
    transition: color .4s ease 0s;

}

.header_nav ul li .active {
    line-height: 50px;
    text-decoration: underline;
    font-weight: 600;
    color: rgba(48, 47, 42, 0.727) !important;
}

@media screen and (width < 1460px) {

    .header_center {
        width: 250px;
        height: 80px;
    }

    .header_left,
    .header_right {
        font-size: 1.3rem;
    }


}


@media screen and (width < 1290px) {

    .header_center {
        width: 230px;
        height: 70px;
    }

    .header_left,
    .header_right {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }


}



@media screen and (width < 900px) {

    .header_center {
        width: 180px;
        height: 70px;
    }

    .header_left,
    .header_right {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }


}

@media screen and (width < 820px) {

    .header_center {
        width: 180px;
        height: 70px;
    }

    .header_left,
    .header_right {
        font-size: 1rem;
        line-height: 1rem;
    }


}

@media screen and (width < 780px) {

    .header_center {
        width: 80px;
        height: 70px;
        transform: translateX(-10%);
        background: url('/public/images/main/main2.png') no-repeat;
        background-size: 80px 70px;
    }

    .header_left {
        transform: translateX(-10%);

    }

    .header_left,
    .header_right {
        font-size: 1rem;
        line-height: 1rem;
    }

    .header_nav ul li,
    .header_nav ul li a {
        padding: 0px;
    }

    .header_right {
        transform: translateX(25%);
    }

}

@media screen and (width < 620px) {
    .main_header {
        width: 100%;
    }

    .header_center {
        transform: translateX(5%);
        width: 80px;
        height: 70px;
        background-size: 80px 70px;
    }

    .header_left {
        transform: translateX(-5%);
    }

    .header_left{
        font-size: 1rem;
        line-height: 1rem;
    }

    .header_nav ul li,
    .header_nav ul li a {
        padding: 0px;
    }

    .header_right {
        font-size: 0.9rem;
        line-height: 0.9rem;
        transform: translateX(0%);
    }

}