@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'orig_halant_regular';
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.master_page {
    width: 100%;
    min-height: 100vh;
    display: grid;
}

.section {
    min-width: 80vw;
    width: 100vw;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    position: relative;
    transition: transform 1s ease-out;
}

/* section2 도어 이벤트 S */
.section2_inner {
    display: grid;
    width: 100vw;
    height: 83vh;
    grid-template: .5fr / repeat(6, 1fr);
    justify-content: center;

}

.final_door {
    z-index: -1;
}

.first_door,
.final_door,
.left_door,
.right_door,
.start_door,
.end_door {
    height: 83vh;
    border-radius: 1px;
    transition: all 1s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: translateX(0);
    position: relative;
    flex: 1;
    min-width: 18vw;
    margin: 0;
    opacity: 0.9;
}

.left_motion,
.right_motion,
.start_motion,
.end_motion {
    border: 1px solid #802121;
    margin: 0 auto;
    border-radius: 10px;
}

.first_door,
.final_door {
    z-index: 1;
}

.right_door,
.left_door {
    z-index: 2;
}

.start_door,
.end_door {
    z-index: 3;
}

.left_door.left_motion {
    box-shadow: -5px 5px 10px 5px rgb(67, 62, 62);
    transform: translateX(-100%);
    z-index: 1;
}

.right_door.right_motion {
    box-shadow: 5px 5px 10px 5px rgb(67, 62, 62);
    transform: translateX(100%);
    z-index: 2;
}

.start_door.start_motion {
    box-shadow: -5px 5px 10px 5px rgb(67, 62, 62);
    transform: translateX(-130%);
    z-index: 1;
}

.end_door.end_motion {
    box-shadow: 5px 5px 10px 5px rgb(67, 62, 62);
    transform: translateX(130%);
    z-index: 3;
}


/* section 도어 이벤트 E */




.main_section {
    position: absolute;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 525px;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;

}

.main_section:nth-child(3) {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px)* 0.5);
    left: 415px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#section1 {
    min-width: 80vw;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    position: relative;
    transition: transform 1s ease-out;
}

#section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: white;
    /* background: url(../../public/images/main/section1.jpg); */
}

#section3 {
    display: flex;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;
    background: white;

}

#section4 {
    background: #9b59b6;
}

#section5 {
    background: #f39c12;
}



/* SECTION2 product section S */
.product_section {
    overflow-x: hidden;
    width: 1340px;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    text-align: center;

}

.product_section h1 {
    font-family: 'SUITE-Regular';
    position: absolute;
    top: 40px;
    font-size: 3rem;
    color: rgba(63, 60, 53, 0.866);
    text-shadow: 4px 3px 4px #666666d7;
    padding: 10px 20px;
}

.slide_item {
    margin-right: 20px;
    width: 300px;
    height: 400px;
}

/* .slide_item:hover, */
.slide_inner img:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}

.slide_container {
    display: flex;
    transition: left 0.5s ease-in-out;
    position: relative;
    transform: translateX(35%);
}

.slide_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 300px;
    height: 400px;

}

.slide_inner img {
    box-shadow: 5px 10px 15px -5px rgb(67, 62, 62);
    border-radius: 10%;
    width: 300px;
    height: 300px;
}

.slide_content {
    margin-top: 20px;
    display: grid;
    grid-template: .5fr .5fr /.5fr.5fr;
    font-size: 0.9em;
}

.slide_name {
    font-family: 'SUITE-Regular';
    color: rgb(3, 3, 3);
    font-weight: 500;
    text-shadow: 4px 3px 4px #666666d7;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2em;
    text-align: center;
    font-size: 1.5rem;
    grid-area: 1/1/ 1/ span 2
}

.slide_price {
    font-family: 'SUITE-Regular';
    color: #666;
    font-weight: 500;
    text-shadow: 4px 3px 4px #666666d7;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 5px;
    grid-area: 2/1/2/span 2;
}

.btn_pre,
.btn_next {
    position: absolute;
    transform: translateY(-50%);
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.btn_pre {
    top: 20%;
    right: 35%;
}

.btn_next {
    top: 20%;
    right: 30%;
}

.nonVisible {
    visibility: hidden;
}

/* Section2 product section E */



/* SECTION3 Intorduction section S */


/* .intro_img {
    position: relative;
    min-height: 82vh;

    grid-column: span 2;
}

.intro_img img {
    z-index: 99;

    width: 100vw;
    height: 82vh;
    opacity: 0.7;
    will-change: transform;
    transform: translate3d(0px, 23.6906px, 0px);
} */

.intro_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.intro_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    z-index: -1;
    transition: transform 0.1s ease-out;
}

.intro_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.7;
}

.intro_content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    font-size: 1.5em;
    text-align: center;
}