/* styles.css */
/* 
style="opacity: 1; visibility: inherit; transform: translate3d(0px, 0px, 0px);
style="opacity: 0; visibility: inherit; transform: translate3d(0px, 0px, 0px);"

*/
* {
    margin: 0;
    padding: 0;
    font-family: 'orig_halant_regular';
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: Arial, sans-serif;
}

.master_page {
    width: 100%;
    min-height: 200vh;
    height: auto;
    overflow-x: hidden;
    display: grid;
}

.section {
    min-width: 100vw;
    width: 100vw;
    height: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    position: relative;
    transition: transform 1s ease-out;
}

video {
    width: 100vw;

    position: fixed;
}

.main_section {
    position: absolute;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 525px;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;

}

.main_section:nth-child(3) {
    position: relative;
    margin: 0px 0px 10px calc((100% - 980px)* 0.5);
    left: 415px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
}

#section1 {
    background: #3c97d3b3;
}

#section2 {
    background: #2ecc71;
}

#section3 {
    background: #e74c3c;
}

#section4 {
    background: #9b59b6;
}

#section5 {
    background: #f39c12;
}

.section.in-view {
    transform: translateY(-100%);
}