.MyCartList {
    display: flex;
    flex-direction: column;
}

.MyCartHeader,
.MyCartGrid,
.MyCartFooter {
    display: grid;
    grid-template-columns: 50px 200px 1fr 1fr 150px 180px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.MyCartHeader {
    border-bottom: 1px solid #000;
    background-color: #d0c0a058;
    height: 40px;
}

.MyCartFooter {
    border-top: 1px solid #000;
    background-color: #d0c0a008;
    height: 40px;
}

.MyCartPhoto img {
    width: 170px;
    height: 170px;
}

.MyCartGrid>div {
    padding: 10px;
}

.MyCartInfo {
    text-align: initial;
    align-items: initial;
}

.MyCartInfo *,
.MyCartDetail * {
    padding: 10px;
}


.MyCartButton {
    padding: 0;
}

.MyCartButton button,
.SelectBuyButton {
    width: 130px;
    height: 30px;
    padding: 0;
    margin: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.MyCartCount input {
    width: 40px;
    height: 20px;
    text-align: center;
    border: none;
}

.MyCartCount img {
    height: 30px;
    padding: 10px;
}

.MyCartGrid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 250px;
}

.MyCartGrid:nth-last-child(2) {
    border: none;
}

.MyCartCount,
.MyProductCount,
.MyPackageCount {
    display: flex;
    align-items: center;
}

.MyCartCount {
    flex-direction: column;
}

.MyProductCount,
.MyPackageCount {
    border: 1px solid;
    margin: 5px;
}

.buttonChange,
.SelectBuyButton {
    background-color: deepskyblue;
    color: white;
}
