.MyPageBook {
    display: flex;
    flex-direction: column;
}

.BookHeader,
.BookGrid,
.BookFooter {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 150px 180px;
    gap: 10px;
    align-items: center;
    text-align: center;
}
