.MyLikeList {
    display: flex;
    flex-direction: column;
}

.MyLikeHeader,
.MyLikeGrid,
.MyLikeFooter {
    display: grid;
    grid-template-columns: 50px 200px 1fr 100px 150px;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.MyLikeHeader {
    border-bottom: 1px solid #000;
    background-color: aliceblue;
    height: 40px;
}

.MyLikeFooter {
    border-top: 1px solid #000;
    /* background-color: aliceblue; */
}

.MyLikePhoto img {
    width: 170px;
}

.MyLikeGrid>div * {
    padding: 10px;
}

.MyLikeInfo {
    text-align: initial;
    align-items: initial;
}

.MyLikeButton button {
    width: 130px;
    height: 30px;
    padding: 0;
    margin: 1px;
}

.MyLikeGrid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.MyLikeGrid:nth-last-child(2) {
    border: none;
}
