.MyCartList {
    display: flex;
    flex-direction: column;
}

.MyCartHeader,
.MyCartGrid,
.MyCartFooter {
    display: grid;
    grid-template-columns: 100px 200px 1fr 100px 150px;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px 0;
}

.MyCartHeader {
    border-bottom: 1px solid #000;
    background-color: aliceblue;
    height: 40px;
}

.MyCartFooter {
    border-top: 1px solid #000;
    /* background-color: aliceblue; */
}

.MyCartPhoto img {
    width: 170px;
}

.MyCartGrid>div * {
    padding: 10px;
}

.MyCartInfo {
    text-align: initial;
    align-items: initial;
}

.MyCartButton button {
    width: 130px;
    height: 30px;
    padding: 0;
    margin: 1px;
}

.MyCartCount input {
    width: 10px;
    height: 10px;
}

.MyCartGrid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.MyCartGrid:nth-last-child(2) {
    border: none;
}
