.MyLikeList {
    display: flex;
    flex-direction: column;
}

.MyLikeHeader,
.MyLikeGrid {
    display: grid;
    grid-template-columns: 100px 150px 1fr 150px;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.MyLikeHeader {
    border-bottom: 1px solid #000;
    background-color: aliceblue;
}

.MyLikePhoto img {
    width: 100px;
}
