/* PC (해상도 1024px)*/
@media all and (min-width:1200px) {
    .productItemList {
        grid-template-columns: repeat(4, 1fr);
    }
    .productSearch{
        gap:20px;
    }
    .productMainGuideContainer{
        width: 20vw;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1200px) {
    .productItemList {
        grid-template-columns: repeat(3, 1fr);
    }
    .productSearch{
        gap:10px;
    }
    .productMainGuideContainer{
        width: 30vw;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .productSearch button{
        width: 70px;
    }
    .productItemList {
        grid-template-columns: repeat(2, 1fr);
    }
    .productSearch{
        gap:5px;
    }
    .productMainGuideContainer{
        width: 40vw;
    }
}
/* ========================== */
@media (max-width: 1100px) {
    .displayMessage2{
        text-align: center;
        padding: 10px
    }
    .displayMessage {
        display: none;
    }
}
@media (min-width: 1100px) {

    .displayMessage2 {
        display: none;
    }
}
/* ====================== */



.productListInfo {
    font-family: 'SUITE-Regular';
    font-size: 15px;
    white-space: pre-line;
    /* background-color: rgb(250, 253, 255); */
    left: 0;
    top: 0;
    padding: 3% 0;
    text-align: center;
    box-shadow: 0 5px 5px white;
    font-size: 1.5em;
}

.NamedCategory {
    font-family: 'SUITE-Regular';
    color: red;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: inset 0 -10px 0 rgba(166, 255, 0, 0.233);
}

.NamedInfo {
    font-family: 'SUITE-Regular';
    color: black;
    font-size: 1.0em;
    padding: 10px;
}

.searchResult {
    font-size: 15px;
    padding: 20px;
    color: #a3a0a0eb;
}

.productItemResult {
    height: 100%;
    width: 100%;
    /* width: 260px; */
    background-color: white;
    border-radius: 10px;
    /* border: 0.5px solid silver; */
    overflow: hidden;
    box-shadow: 3px 3px 3px #d0c0a052;
    cursor: pointer;
    /* margin-bottom: 1vw; */
    display: flex;
    flex-direction: column;
}

.productItemResult img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.productItemResult div {
    font-family: 'SUITE-Regular';
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    overflow: hidden;
}

.MenuNsearch{
    background-color: #d0c0a02f;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #d0c0a092;
    width: 95vw;
    margin: 20px auto;
    
}
.productMenu {
    width: 100%;
    font-family: 'SUITE-Regular';
    height: 50px;
    /* border: 1px solid; */
    background-color: #d0c0a019;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productMenu a {
    color: black;
    text-decoration: none;

    display: inline-flex;
}

.productMenu a.active {
    font-weight: 600;
    color: red;
    font-size: 1.2em;
    box-shadow: inset 0 -10px 0 rgba(166, 255, 0, 0.233);
}

.productSearch {
    font-family: 'SUITE-Regular';
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    padding: 10px;
    border-top: 0.5px solid #d0c0a092;

}

.productSearch button,
.SearchBar button {
    width: 70px;
    font-family: 'SUITE-Regular';
    background-color: #d0c0a052;
    padding: 0 15px;
    border: 0.5px solid #d0c0a092;
    border-radius: 5px;
    /* margin: 0 10px; */
    cursor: pointer;
}

.SearchBar {
    font-family: 'SUITE-Regular';
    width: 95vw;
    height: 50px;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.productSearch input {
    font-family: 'SUITE-Regular';
    width: 250px;
    border-radius: 5px;
    border: 0.5px solid #d0c0a092;
}

.productSearch select {
    font-family: 'SUITE-Regular';
    /* text-align: center; */
    width: 120px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0.5px solid #d0c0a092;
}

.productItemList {
    width: 95vw;

    display: grid;

    grid-auto-rows: min-content;
    /* padding: 3vw; */
    margin: 0 auto;
    position: relative;
    gap: 3vw;
    background-color: #d0c0a00d;
}

.productItemList a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;

    border-radius: 10px;
    box-shadow: 3px 3px 3px #d0c0a052;
}

.productItemList a:hover {
    box-shadow: 3px 3px 3px #d0c0a0fa;
}

.productItemList .productItem,
.productItemList .productItemResult {
    flex: 1;

    object-fit: cover;
}

.productItemList .productItemResult {
    flex-direction: column;
}

.productMainGuideContainer {

    font-size: 14px;
    overflow: hidden;
    position: relative;

}

.productMainGuide {
    /* 부모 요소에 맞춰 너비 설정 */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    /* 필요한 경우 블록 요소로 변환 */
    /* animation: scrollText 15s linear infinite; 텍스트 스크롤 애니메이션 */
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
        /* 텍스트 시작 위치 */
    }

    to {
        transform: translateX(-100%);
        /* 텍스트 끝 위치 */
    }
}

.productPager {
    width: 95vw;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 70px;
    align-items: center;
    padding: 20px 0;
    background-color: #d0c0a00d;
}

.productPager button {
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-family: 'SUITE-Regular';
    border: 0.5px solid #d0c0a000;
    background-color: rgba(255, 255, 255, 0);
    /* border-radius: 50%; */
    cursor: pointer;
}

.centerButton {
    padding: 2px 10px;

}

.lastButton {
    padding: 0;
}
.nextButton img{
    height : 20px;
    padding: 2px;
}

.productPager img {
    height: 25px;
    width: 25px;
}