.MyPage {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    /* height: 100vh; */
    box-sizing: border-box;
    /* overflow: hidden; */
    padding: 0 15%;
    min-height: 80vh;
}

.MyPage>h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 100vh; */
    box-sizing: border-box;
    margin: 0;
    padding: 2%;
    /* overflow: hidden; */
}

.MyPage * {
    font-family: 'SUITE-Regular';
}

.MyPage a:visited {
    color: black;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .MyPage {
        padding: 0 5%;
    }

    .MyPage>h1 {
        text-align: center;
    }

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .MyPage {
        padding: 1%;
    }

    .MyPage>h1 {
        text-align: center;
    }
}
