/* App.css */


.MyPage {
    position: relative;
    top: 100px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 100vh; */
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 1% 20%;
}

.MyPageIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    box-sizing: border-box;
    margin-top: 0;
    overflow: hidden;
    padding: 0 20%;

}

.MyPageMain {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    /* 세로 중앙 정렬 */
    /* text-align: center; */
    padding: 10%;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    height: 30vh;
}

.MyGrid {
    display: grid;
    grid-template-areas:
        "MyLike MyCart  MyPost MyRecent MyList ";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 100%;
}

.MyGrid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.MyCart {
    grid-area: MyCart;
}

.MyLike {
    grid-area: MyLike;
}

.MyRecent {
    grid-area: MyRecent;
}

.MyPost {
    grid-area: MyPost;
}

.MyList {
    grid-area: MyList;

}

.MyInfoGrid {
    display: flex;
}

.MyInfo {
    flex: 3;
}

.MyOrder {
    flex: 1;

}

.MyOrder ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.MyOrder ul li {
    padding: 5px;
}