/* .findPw-body {
    width: (100vw-8px);
    height: (100vh-8px);
    background-color: antiquewhite;
    user-select: none !important;
    font-family: 'Chosunilbo_myungjo';
}

.findpass-Area {
    width: 85vw;
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;

}

.boxshadowcontainer {
    width: 100%;
    height: 80%;
    display: flex;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 3px rgba(0, 0, 0, 0.11),
        0 4px 5px rgba(0, 0, 0, 0.11),
        0 8px 9px rgba(0, 0, 0, 0.11),
        0 16px 17px rgba(0, 0, 0, 0.11),
        0 32px 35px rgba(0, 0, 0, 0.11);
}


.findID-imgBox {
    width: 60%;
    height: 100%;
    display: flex;
}

.findID-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    box-shadow: 5px 0 10px rgb(140, 139, 139);
}


.findId-textarea {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}



.findId-imgBox {
    width: 85%;
    height: 23%;
    margin-bottom: 3%;
}

.findId-imgBox img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.findId-Box {
    position: relative;
    text-align: center;
}

.findId-Box input {
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    font-family: 'SUITE-Regular';
    font-size: 23px;

}

.findId-inputArea {
    margin-top: 10%;
    position: relative;
}

.findId-inputArea input {
    margin-bottom: 2%;
}

.findId-label {
    transition: .5s;
}

.findId-inputArea .findId-label {
    position: absolute;
    font-size: 20px;
    font-family: 'SUITE-Regular';

}

.findId-textarea {
    display: flex;
    position: relative;
}

.findId-textarea h4 {
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 2%;
}

.findId-textarea ul {
    position: absolute;
    text-align: left;
    top: 3%;
    left: 6%;
}

.findId-textarea li {
    color: black;
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 17px;
}


.findId-Box p {
    margin-top: 5%;
    font-size: 15px;


    white-space: pre-wrap;
}

.findId-Box button {
    height: 60px;
    width: 250px;
    border-radius: 15px;
    border: none;
    color: black;
    background-color: antiquewhite;
    font-size: 1.5em;
    font-family: 'SUITE-Regular';
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.findId-Box button:hover {
    cursor: pointer;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.ptag {
    visibility: hidden;
    letter-spacing: 2px;
}

.showname1 {
    font-size: 1.5em;
    box-shadow: inset 0 -8px 0 0 #ffe4aa;
}

.findIdLink{
font-size: 1.2em;
color: #80adbc;
transition: all .5s;
}

.findIdLink:hover{
    box-shadow: inset 0 -8px 0 0 #ebf6fa;
} */
