.body {
    width: calc(100vw-17px);
    min-height: 100vh;
    background-color: #edeae4;
    user-select: none !important;
}

.bodycontainer {
    display: flex;
    flex-direction: row;
}

.container {
    width: 65vw;
    height: 2550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 20px;
    padding: 2rem;
}

.clausearea h4 {
    margin-bottom: 10px;
    font-size: 1em;
}

.container input {
    width: 60%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    background-color: transparent;
    font-size: 1em;
    color: black;
    padding: 2px;
}

input::placeholder {
    font-size: .6em;
}

.container input:focus {
    outline: 1px solid #979696;
}

.container p {
    visibility: hidden;
    font-size: 15px;
    color: red;
    margin-bottom: 1.5rem;
}

.rowarea {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.rowarea button {
    margin-left: 10px;
    height: 2.5rem;
    width: 15%;
    border: 1px solid #aaaaaa;
    background-color: white;
    transition: all 1s;
    border-radius: 5px;
}

.address input {
    width: 20%;
}

.formcontainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 7%
}

.buttonarea {
    display: flex;
    justify-content: start;
}

.buttonarea button {
    width: 160px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    background-color: white;
    font-size: .9em;
    letter-spacing: 2px;
    word-break: keep-all;
}

.buttonarea button:hover,
.rowarea button:hover,
.genderbutton button:hover {
    background-color: rgb(31, 30, 30);
    color: white;
}

.stickyarea {
    top: 10px;
    width: 35vw;
    height: 40vh;
    float: left;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stickyarea h1 {
    font-size: 2em;
    margin-top: 20%;
    margin-bottom: 3%;
}

.imgcontainer {
    width: 45%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 30%;
}

.imgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.container hr {
    width: 90%;
    border: 1px solid #aaaaaa;
    margin: 60px 0 60px 0;
}

.clausearea {
    width: 100%;
}

.clausearea h3 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.innerclausearea {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
}




.innerclausearea input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: flex;
}

.innerclausearea h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

.genderbutton {
    display: flex;
    flex-direction: row;
}

.genderbutton button {
    margin-top: 10px;
    width: 20%;
    height: 2.5rem;
    margin-right: 10px;
    transition: all 1s;
    background-color: white;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.route {
    width: 15%;
    float: left;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.route li {
    font-size: 1.5em;
    margin-bottom: 1rem;
    font-weight: bold;
    color: black;
}

.modalbtn {
    width: 28px;
    height: 28px;
    border: none;
    margin-left: 95%;
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(182, 181, 181);
    font-size: 1.5em;
}

.phoneNumber {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.phoneNumber span {
    margin: 0 5%;
}

.emailArea {
    width: 60%;
    display: flex;
}

.emailArea input {
    align-self: end;
    width: 30%;
}

.emailArea span {
    margin: 0 5%;
    align-self: end;
}

.emailArea select {
    margin: 0 2%;
    display: flex;
    width: 30%;
    height: 90%;
    border: 1px solid #aaaaaa;
    align-self: end;
    border-radius: 5px;
}


@media all and (min-width:767px) and (max-width:1023px) {

    .innerclausearea,
    .formcontainer {
        font-size: .8em;
    }

    .rowarea button {
        width: 25%;
        font-size: .6em;
        word-break: keep-all;
    }

    .clausearea h4 {
        margin-bottom: 10px;
        font-size: .8em;
    }

    input::placeholder {
        visibility: hidden;
    }

    .buttonarea button {
        font-size: .8em;
        width: 180px;
        height: 40px;
    }

    .stickyarea {
        font-size: .9em;
        width: 30vh;
    }

    .stickyarea h1 {
        font-size: 1.5em;
        margin-top: 20%;
        margin-bottom: 3%;
    }

    .imgcontainer {
        width: 90%;
        height: 30%;
        left: 10%;
    }

    .container h3,
    .clausearea h3 {
        font-size: .9em;
    }

    .clausearea,
    .innerclausearea h5 l {
        font-size: 1em;
    }

    .emailArea {
        width: 70%;
    }

    .clause-area {
        font-size: .6em;
    }
}

@media all and (max-width:767px) {

    .genderbutton button,
    .phoneNumber {
        width: 70%;
    }

    .clause-area {
        font-size: .6em;
    }

    .rowarea button {
        font-size: .6em;
        width: 30%;
        word-break: keep-all;
    }

    .clausearea h4 {
        margin-bottom: 10px;
        font-size: .8em;
    }

    input::placeholder {
        visibility: hidden;
    }

    .buttonarea button {
        font-size: .9em;
        width: 150px;
        height: 40px;
    }

    .stickyarea {
        font-size: .6em;
        width: 20vh;
    }

    .stickyarea h1 {
        font-size: 1.7em;
        margin-top: 20%;
        margin-bottom: 3%;
    }

    .imgcontainer {
        width: 90%;
        height: 30%;
        left: 10%;
    }

    .container {
        padding: 1rem;
    }

    .container h3,
    .clausearea h3 {
        font-size: .9em;
    }

    .clausearea,
    .innerclausearea h5,
    .formcontainer {
        font-size: .8em;
    }

    .emailArea {
        width: 100%;
    }

}