.userinfo-container {
  width: 75vw;
  max-width: 1400px;
  min-width: 600px;
  height: auto;
  font-size: 1em;
  /* background-color: antiquewhite; */
}

.userinfo-titlearea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #888 !important;
}

.userinfo-container input {
  height: 1.4em;
  font-size: 1em;
}

/* .userinfo-title {
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #888 !important;
} */
.userinfo-back{
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color:  #888;
  transition: all .5s;
}

.userinfo-back:hover{
  background-color: #393c3a;
}

.close-btn {
  padding: 3px;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10%;
}

.user-subTitle {
  position: relative;
  padding-left: 8px;
  margin: 15px 0;
}

.user-subTitle::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #1a4f9981;
  content: '';
}

.tableoutline {
  border-collapse: collapse;
  width: 100%;

}

.tableoutline th,
.tableoutline td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  /* 텍스트 정렬 */
}

.tableoutline th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: 10%;
}

.tableoutline td {
  width: 25%;
  /* 모든 th와 td의 너비를 25%로 고정 */
  border: 1px solid #ddd;
  /* 셀 테두리 */
  padding: 8px;
  /* 셀 안쪽 여백 */
  text-align: left;
  /* 텍스트 정렬 */
}

.userinfo-address input {
  margin-bottom: .1em;
}

.userinfo-addressAdd {
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  background-color: #888;
  color: white;
  transition: all .5s;
}

.userinfo-addressAdd:hover {
  background-color: #393c3a;
}


.userinfo-errmessage {
  color: red;
  font-size: .7em;
  display: none;
}


.address-remove {
  cursor: pointer;
  color: white;
  font-size: .6em;
  font-weight: normal;
  padding: 2px;
  border-radius: 5px;
  background-color: #888;
  text-align: center;
  transition: all .5s;
}

.address-remove:hover{
  background-color: #393c3a;
}

.notAddress th{
  text-align: center;
color: red;
}
.btn_confirm{
  text-align: center;
}

.btn_confirm input{
  width: 80px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  background-color: #888;
  transition: all .5s;
  color: white;
  margin-top: 30px;
}

.btn_confirm input:hover{
  background-color: #393c3a;
}

.totalMoneyAmountPie{
  width: 150px;
  height: 150px;
}