
.user-info { 
  margin-bottom: 20px; 
}

.user-info h2 { 
  margin: 0; 
}

.close-btn {
   padding: 10px; 
   background-color: #f44336; color: white; border: none; cursor: pointer; 
  }

.user-title{
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #888 !important;
  font-size: 2em;
  line-height: 1em;
}

.user-subTitle {
  position: relative;
  padding-left: 8px;
  margin: 15px 0;
}

.user-subTitle::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #1a4f9981;
  content: '';
}