.AddressListTable {
    text-align: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.AddressListTable .AddressNameCell {
    width: 200px;
    font-size: 20px;
}

.AddressListTable td {
    height: 23px;
}

.AddressListTable .MainAddressCell {
    /* width: 500px; */
}

.addressModalBtn {
    width: 130px;
    height: 30px;
    border: none;
    margin-left: 86%;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(65, 88, 137);
    font-weight: bold;
    font-size: 14px;
}
