.MyPageOrders {
    word-break: keep-all;
}

.MyOrdersDate * {
    padding: 10px;
}

.MyOrdersDate>h3 {
    border-bottom: 1px solid #000;
    background-color: #d0c0a058;
    height: 40px;
}

.OrdersItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
}

.OrdersItem:nth-last-child(1) {
    border: none;
}


.OrdersPhoto img {
    width: 100px;
    height: 100px;
}
