.MyLikeList {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
}

.MyLikeHeader,
.MyLikeGrid,
.MyLikeFooter {
    display: grid;
    grid-template-columns: 50px 200px 1fr 180px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.MyLikeHeader {
    border-bottom: 1px solid #000;
    background-color: #d0c0a058;
    height: 40px;
}

.MyLikeFooter {
    border-top: 1px solid #000;
    background-color: #d0c0a008;
    height: 40px;
}

.MyLikePhoto img {
    width: 100px;
    height: 100px;
}

.MyLikeGrid>div {
    padding: 10px;
}



.MyLikeInfo * {
    padding: 10px;
}

.MyLikeButton {
    padding: 0;
}

.MyLikeButton button,
.SelectDeleteButton {
    width: 130px;
    height: 30px;
    padding: 0;
    margin: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.MyLikeGrid {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 150px;
}

.MyLikeGrid:nth-last-child(2) {
    border: none;
}

.ButtonDetail {
    background-color: deepskyblue;
    color: white;
}

.TextNoItems * {
    text-align: center;
    margin: 5%;
}

.TextNoItems a {
    text-decoration: underline;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) {
    .MyLikeInfo {
        text-align: initial;
        align-items: initial;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .MyLikeGrid {
        display: grid;
        grid-template-areas:
            "check photo photo"
            "check info info"
            "check button button";
        grid-template-columns: 50px 1fr 1fr;
        height: initial;
        text-align: center;
        align-items: center;
    }

    .MyLikeHeader,
    .MyLikeFooter {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 180px;
        text-align: center;
        align-items: center;
    }

    .MyLikeCheck {
        grid-area: check;
        grid-row: 1 / 4;
    }

    .MyLikePhoto {
        grid-area: photo;
        grid-column: 2 / 4;
    }

    .MyLikeInfo {
        grid-area: info;
        grid-column: 2 / 4;
    }


    .MyLikeButton {
        grid-area: button;
    }
}
